
html{
    background:rgb(217, 217, 217);
    font-family: 'Lucida Sans';
}

h1{
    color:aqua;
}

body{
    width: 100%;
    height:100%;
}

.background{
    width: 800px;
    height: 360px;
    background-image: url("../wgd235Final/images/ocean.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    resize: cover;
    background-color:azure;
    border: 4px rgb(67, 66, 66) solid;
    display:block;
    position: absolute;
    top: 15%;
    left: 25%;
}

.title{
    width: 450px;
    height: 40px;
    top:2%;
    left:34%;
    position:absolute;
    font-size: 24pt;
    background-color:white;
    border: 3px aqua inset;
    content: center;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

footer{
    position: fixed;
    bottom:2%;
    left:5px;;
}

#canvas {            
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px; 
    margin-top: 520px;
    margin-left: 471px;
}

#navbar{
    top: 0px;
    left: 0px;
    background-color: rgb(22, 54, 77);
    border:2px aqua solid;
    border-radius: 10px;
    position: fixed;
    display:none;
    margin: 0 auto;
    padding: 2px;
    width: 8%;
    height: 99%;
}

li{
    float:none;
}

li#close{
    padding: 8px;
    color:white;
}

li#close:hover{
    cursor: pointer;
    color:aqua;
}

li a{
    font: 14pt;
    display: block;
    padding: 8px;
    font-family: "Lucida Sans";
    color: white;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p a{
    font-family: sans-serif;
    font-size: 1em;
    color:rgb(22, 54, 77);
    text-decoration: underline;
    text-decoration-style:wavy;
    text-decoration-color: aquamarine;
    transition: all .2s ease-out;
    padding: 3px;
    background: linear-gradient(to bottom,
        rgba(29, 110, 110, 0) 0%,
        rgba(29, 110, 100, 0) 50%,
        rgba(47, 194, 194, 1) 50%,
        rgba(47, 194, 194, 1) 100%);
    background-repeat: no-repeat;
    background-size: 100% 200%;
}

p a:hover{
    color:white;
    background-position: 0 100%;    
}

.menu{
    font-size: 2em;
    position: fixed;
    z-index: 3;
    padding: 8px;
    transition: all .1 ease-out;
    top:5px;
    left:5px;
}
.menu:hover{
    color:aqua;
    cursor: pointer;
    transform: scale(2);
    padding: 10px;
}

#animations{
    left: 25%;
    top: 650px;
    height: auto;
    border: 3px rgb(0, 0, 0) inset;
    border-radius: 10px;
    width: 800px;
    position: absolute;
    text-align: center;
    margin: 15px;
}

#a1{ animation: move1 5s 3;}
@keyframes move1{
    0% { transform: translateX(0px);}
    50% { transform: translateX(300px);}
    100% {transform: translateX(0px);}
}
#a2{ animation: move2 5s 5;}
@keyframes move2{
    0% {transform: translateX(0px) rotate(0deg);}
    50% {transform: translateX(500px) rotate(360deg);}
    100% {transform: translateX(0px) rotate(0deg);}
}
#a3{ animation: move3 10s 5;}
@keyframes move3{
    0% {transform: translateX(0px) rotate(0deg);}
    25% {transform: translateX(500px) rotate(360deg);}
    50% {transform: translateX(0px) rotate(0deg);}
    75% {transform: translateX(-500px) rotate(-360deg);}
    100% {transform: translateX(0px) rotate(0deg);}
}

#transitions{
    left: 25%;
    top: 1110px;
    height: auto;
    border: 3px black inset;
    border-radius: 10px;
    width: 800px;
    position: absolute;
    text-align: center;
    margin: 15px;
}

#t1{transition: transform 1s;}
#t1:hover{
    cursor: pointer;
    transform: rotateX(145deg);
}
#t2{transition: transform 1s;}
#t2:hover{
    cursor: pointer;
    transform: rotateZ(-225deg);
}
#t3{transition: transform 2s;}
#t3:hover{
    cursor: pointer;
    transform: rotateY(145deg);
}

#timingfunctions{
    left: 25%;
    top:1570px;
    height: auto;
    border: 3px black inset;
    border-radius: 10px;
    width: 800px;
    position: absolute;
    text-align: center;
    margin: 15px;
}

#btn1:hover{
    cursor: pointer;
    background-color: #00ff00;
}
#btn1{
    width: 55px;
    height: 55px;
    display: inline-block;
    background-color: cornflowerblue;

    transition: all 0.1s ease-in-out;
    transform: translate3d(0, 0, 0)
}

#btn2{
    width: 55px;
    height: 55px;
    display: inline-block;
    background-color: cornflowerblue;

    transition: all 0.1s ease-in-out;
    transform: translate3d(0, 0, 0);
}
#btn2:hover{
    cursor: pointer;
    filter: drop-shadow(8px 8px 5px gray);
}

#btn3{
    width: 55px;
    height: 55px;
    display: inline-block;
    background-color: cornflowerblue;

    transition: all 0.1s ease-in-out;
    transform: translate3d(0, 0, 0);
}
#btn3:hover{
    cursor:crosshair;
    transform: scale(1.5);
    background-color: fuchsia;
}

#btn4{
    width:55px;
    height:55px;
    display: inline-block;
    background-color: cornflowerblue;

    transition: all 0.1s ease-in-out;
    transform: translate3d(0, 0, 0);
}
#btn4:hover{
    cursor:grab;
    transform: scale(-0.5);
    filter:hue-rotate(120deg) drop-shadow(6px 8px 13px yellow);    
}

#movementeffects{
    left:25%;
    top: 1800px;
    height: 450px;
    border:3px black inset;
    border-radius: 10px;
    width: 800px;
    position: absolute;
    text-align: center;
    margin: 15px;
}

#ball{
    width:50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ff5722;
    display: inline-block;
    animation: bounce .5s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
    animation-iteration-count:infinite;
}

@keyframes bounce{
    from{
        transform: translate3d(0, 0, 0);
    }
    to{
        transform: translate3d(0, 275px, 0);
    }
}